@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo', sans-serif;
}
body {
  /*font-family: 'Arvo', serif;*/
  font-family: 'Exo', sans-serif;
  background-color: #EDEDF4;
}

.image-tile-container {
  border: 1px solid gray;
  border-radius: 4px;
  margin: 0% 8%;
  box-shadow: 0px 0px 3px gray;
  padding: 5px;
  background-color: white;
}

.image-tile {
  box-sizing: border-box;
  padding: 2%;
  display: inline-block;
  text-align: center;
}

.upload-header {
  margin-top: 1.5em;
  padding: 0%;
}

.upload-header .image-upload {
  text-align: left;
  position: relative;
  display: inline-block;
  /*top: 10px;*/
  margin-bottom: 0%;
  padding: 0%;
}

.image-upload .upload-button-wrapper .button-dropzone {
  text-align: right;
}

.page-intro {
  /*margin-left: 4em;*/
}

/*came from: https://blog.benestudio.co/custom-file-upload-button-with-pure-css-5aacf39aa0a*/
.upload-button-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.upload-button {
  background-color: #353437;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: background-color;
  transition-timing-function: ease-out;
  color: white;
  border: 2px solid #353437;
  border-radius: 20px;
}
button:focus {
  outline: none;
}

.upload-button:focus {
  background-color: #353437;
  color: white;
}

.upload-button:hover{
  background-color: #EDECF4;
  color: #353437;
}

.welcome {
  margin-top: 10px;
}

.image-tile p {
  font-size: 1.2em;
}

.small-12 .image-tile {
  align: center;
}
