@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Exo');
h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo', sans-serif;
}
body {
  /*font-family: 'Arvo', serif;*/
  font-family: 'Exo', sans-serif;
  background-color: #EDEDF4;
}

.image-tile-container {
  border: 1px solid gray;
  border-radius: 4px;
  margin: 0% 8%;
  box-shadow: 0px 0px 3px gray;
  padding: 5px;
  background-color: white;
}

.image-tile {
  margin: 3% 2%;
  display: inline-block;
  /*width: 100px;*/
  /*max-height: 100px;*/
  /*overflow: hidden;*/
  /*margin: 5px;*/
}

.upload-header {
  /*text-align: center;*/
  /*position: relative;*/
  /*top: 10px;*/
  margin-top: 1.5em;
  padding: 0%;
}

.upload-header .image-upload {
  text-align: left;
  position: relative;
  display: inline-block;
  /*top: 10px;*/
  margin-bottom: 0%;
  padding: 0%;
}

.page-intro {
  /*margin-left: 4em;*/
}

/*came from: https://blog.benestudio.co/custom-file-upload-button-with-pure-css-5aacf39aa0a*/
.upload-button-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.upload-button-wrapper input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  vertical-align: middle;
  height: 100%;
}

.welcome {
  margin-top: 10px;
}
